doctype html
html 
    head 
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        div(class="container")
            h1 Video Games
            a(href="/update-cobj") Add to this table
            div(class="table-wrapper")
                table
                    thead
                        tr
                            th ID
                            th Name
                            each prop in properties
                                th= prop
                    tbody
                        each item in data
                            tr
                                td= item.id
                                td= item.properties.name
                                each prop in properties
                                    td= item.properties[prop]
